.nav-superior__div {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-self: center;

    width: 700px;
    margin-bottom: 2rem;
}

.nav-superior__button {
    border: 1px solid rgb(111, 111, 111);
    border-radius: 12px;
}

.nav-superior__button--pressed {
    background-color: rgb(122, 122, 122, 0.5);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(111, 111, 111);
    border-radius: 12px;
}

.nav-superior__action-holder {
    display: flex;
}

.logged-user__div {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}